.pinger input {
    text-align: center;
    font-size: 18px;
    background-color: var(--w);
    color: var(--b);
    border-radius: 20px;
    box-shadow:  3px 3px 5px var(--bs1),
                -3px -3px 5px var(--bs2);
    border: none;
    padding: 8px 16px;
    resize: none;
    outline: none;
    width: max(20%, 300px);
}
.pinger button {
    background-color: var(--t);
    border-radius: 20px;
    box-shadow:  5px 5px 10px var(--bs1),
                 -5px -5px 10px var(--bs2);
    border: none;
    color: var(--b);
    padding: 15px 32px;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 16px;
    transition: 0.15s;
}
.pinger button:active {
    background-color: var(--ht);
    box-shadow:  2px 2px 4px var(--bs1),
                 -2px -2px 4px var(--bs2);
}