.controlsContainer {
    display: block;
    width: max(400px, 40%);
    padding: 15px;
    justify-items: left;
    margin-left: 3%;
    transition: 0.15s;
	border-radius: 10px;
    box-shadow: calc(10px + 0.5vw) calc(10px + 0.5vw) calc((200px + 10vw) / 12) var(--bs1), 
                calc(-10px - 0.5vw) calc(-10px - 0.5vw) calc((200px + 10vw) / 12) var(--bs2);
}
.layerControl {
    display: flex;
    align-content: left;
}
.layerControl input:disabled {
    display: none;
}
.description {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.divider {
    margin-top: 3%;
    display: block;
    height: 50px;
    background-color: var(--ht);
}
canvas {
    margin: 0;
    padding: 0;
    display: block;
}