.entry {
    display: inline;
    width: 100%;
    min-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background-color: var(--b);
    color: var(--w);
    border: none;
}
.entry+.after:not(:last-child) {
    left: -6px;
    top: 17px;
    display: block;
    width: calc(100% + 12px);
    height: 5px;
    transition: 0.3s;
    background-color: var(--t);
}
.selected+.after {
    transition: 0.3s;
    background-color: var(--ht) !important;
}
.divider {
    display: block;
    position: fixed;
    top: 0;
    left: var(--sw);
    width: 2%;
    height: calc(100%);
    background-color: var(--t);
    box-shadow: -5px 0 5px 0 var(--b);
    z-index: 1;
    transition: 0.3s;
}
.collapse-control {
    display: block;
    z-index: 2;
    position: absolute;
    top: 56px;
    left: var(--sw);
    width: 2vw;
    height: 2vw;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
    color: var(--b);
    border: none;
    transform: rotate(90deg);
    font-size: 1vw;
}
.collapsed {
    transform: rotate(-90deg);
}