.ToggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}
.ToggleSwitch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
} 
.ToggleSwitch .slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 32px;
    background-color: var(--t);
}
.ToggleSwitch .slide.invert {
    background-color: var(--w);
}
.ToggleSwitch .slide:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: var(--w);
    border-radius: 50%;
    transition: 0.3s;
}
.ToggleSwitch .slide.invert:before {
    background-color: var(--t);
}
.ToggleSwitch input:checked + .slide:before {
    transform: translateX(100%);
}
.ToggleSwitch .slide.inP {
    margin-top: calc((20px + 1vmin - 12px) / 3);
    height: calc(32px);
}