fieldset {
    margin: 0 auto;
    border-radius: 5px;
    width: 60%;
}
legend {
    margin: 0 auto;
}
.poemcontainer fieldset span {
    margin: 0 auto;
    display: table;
}
.poemcontainer {
    font-size: 25px;
    text-align: left;
    white-space: pre;
    transition: 0.3s;
}