:root {
    /*selector width*/
    --sw: 25%;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 10vh);
}
.scrollable {
    height: calc(100% - 56px + 10vh);
    width: var(--sw);
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollable:last-child {
    margin: auto;
    padding-top: calc(10vh - 56px);
    font-size: 24px;
    width: calc(100% - var(--sw));
}
::-webkit-scrollbar {
    display: none;
}